<section class="">
  <div>
    <h1>
      Recordatorios de pagos pendientes:
    </h1>
    <h5>
      Agrega un detalle de los pagos que quieras anotar, para tener un registro y estar siempre al día
    </h5>
  </div>
</section>
